@import "tailwindcss";
@plugin "daisyui" {
  themes: coffee --prefersdark, caramellatte --default;
  include: rootcolor, rootscrolllock, scrollbar, reset, rootscrollgutter, button,
    tab, textarea, modal, fieldset, footer, input, navbar, card, toggle, label,
    select, badge, join, radius, properties, responsive, states,
    responsive-extended, properties-extended, states-extended;
}
.note-title-truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
  text-align: justify;
}
.note-body-truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
  text-align: justify;
}

.modal .prose textarea {
  /* Set a max-height to prevent it from growing indefinitely */
  max-height: 50vh;
  overflow-wrap: break-word;
  /* Add a vertical scrollbar only when content overflows the max-height */
  overflow-y: auto;
  resize: none;
}
